html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
    overflow-x: hidden;
    background-color: #f2f2f2;
    
}
header{
	background: #18bc9c
	color: black;
}
.main {
	background: #f2f2f2;
}
.color {
	background: #16a085;
	color: #fff;
}
aside{
	background: #34495e;
	color:#fff;
}
footer{
	background: #34495e;
	color: #fff;
}

li{
	display: inline-block;
	padding: 8px ;
	margin: 3px;
}
#uno{
	background-color: #18bc9c;
	float: right;
	height: 655px;
}
#encabezado{
	background-color: #18bc9c;
	color: orange ;
	height: 28px ;
	font-size: 10px;
}
#primero{
	background-color:;
	}
h2{
	font-size: 15px ;
	color: white;
}
a{
	text-decoration: none;
	font-size: 16,5px ;
	color: white ;
}
.btn-outline { 
 margin-top: 15px; 
 border: solid 1px #bbbbbb;    
 font-size: 24px; 
 color: #bbbbbb; 
 background: 0 0; 
 transition: all .3s ease-in-out; 
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active { 
  border: solid 1px #bbbbbb;    
  color: #000; 
  background: #bbbbbb; 
}

.btn-social { 
  display: inline-block; 
  width: 48px; 
  height: 48px; 
  border: 1px solid white; 
  border-radius: 100%; 
  text-align: center; 
  font-size: 24px; 
  line-height: 46px; 
}

.list-inline { 
  padding-left: 0; 
  list-style: none; 
  margin-left: -5px; }

.list-inline > li { 
  display: inline-block;  
  padding-left: 5px; 
  padding-right: 5px; 
}

.social-links { 
  -webkit-animation: fade-in-down 0.9s; 
  animation: fade-in-down 0.9s; 
  -webkit-animation-delay: 0.2s; 
  animation-delay: 0.2s; 
}

/* Animations */
@-webkit-keyframes fade-in-down { 0% 
  { opacity: 0; -webkit-transform: translateY(-10px); transform: translateY(-10px); 
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translateY(0); 
    transform: translateY(0); } }
@keyframes fade-in-down { 
  0% { opacity: 0; 
    -webkit-transform: translateY(-10px); 
    transform: translateY(-10px); 
  }
  100% { opacity: 1; 
    -webkit-transform: translateY(0); 
    transform: translateY(0); 
  } 
}

.inicio-sesion-contenedor {
  min-height: 630px;
  background: url(../imgs/home.jpg);
  background-size: cover; 
}

.boton-inicio-sesion {
  background: teal !important;
}
.boton-inicio-sesion:hover {
  box-shadow: none !important;
}
.navbar-default{
  background-color: #34495e; 
}
