* {
    box-sizing: border-box;
}
body {
    margin: 0;
   
    background: #f2f2f2;
    font-family: sans-serif;
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
 
a {
    font-size: 15px ;
    text-decoration: none;
}
 
header {
    display: flex;
  
 
    width: 100%;
    height: 50px;
    position: fixed;
    background: #34495e;
}
 
header a {
    display: block;
    position: relative;
 
    top: 15px;
    right: 10px;
    width: 25px;
    height: 40px;
}
header a i {
    display: block;
    width: 100%;
    height: 3px;
    background:white;
}
 
header a i:before {
    content: "";
    position: relative;
    top: 6px;
    display: block;
    width: 100%;
    height: 3px;
    background: white;
}
 
header a i:after {
    content: "";
    position: relative;
    top: 9px;
    display: block;
    width: 100%;
    height: 3px;
    background: white;
}
 
main {
    width: 100%;
    padding: 30px;
    padding-top: 80px;
    margin-left: 250px;
    transition: margin-left .5s;
}
 
aside {
    width: 250px;
    height: 100%;
    margin-top: 50px;
    left: 0;
    position: fixed;
    background: #34495e;
    transition: position, left .5s;
}
 
.main-toggle {
    margin-left: 0;
    transition: margin-left .5s;
}
.aside-toggle {
    left: -250px;
    transition: position, left .5s;
}
 
.foto-perfil {
    width: 100%;
    height: 200px;
    position: relative;
    border-bottom: 1px solid #18bc9c;
}
 
.imagen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
   
    width: 150px;
    height: 150px;
    border-radius: 50%;
   
    box-shadow: 0 0 3px 3px #18bc9c;
}
.imagen img {
    width: 100%;
    border-radius: 50%;
}
 
.menu-aside a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #18bc9c;
    color: white;
}
.menu-aside a:hover {
    background: #18bc9c;
    text-decoration: none;
}
h2{
    font-size: 18px ;
}
    ul li{
        list-style: none; 
        font-size: 18px ;
        color:white;
        text-decoration: none;
        }


        button {
            display: block;
            width: 300px;
            color: white ;
            background-color:#34495e;
            padding: 6px ;
            cursor: pointer;
            border-radius: 35px;
            text-decoration: none;
        }
button a {
      display: block;
    padding: 10px;
    border-bottom: 1px solid white;
    color: white;
}